h1{
    text-align: center;
}

h2{
    text-align: center;
}

article{
    color: black;
    width: 300x;
    padding: 10px;
    border: 5px solid black;
    background: blanchedalmond;
    margin: 0;
}

#quotes{
    
    color: black;
    width: 300x;
    padding: 10px;
    border: 5px solid black;
    background: blanchedalmond;
    margin: 0;

}